*{box-sizing:border-box;}

body{
    font-family:Arial; 
    font-size:16px; 
    margin:0 0 0 0;
}

header{
    position:fixed; 
    top:0; left:0; right:0; 
    color:beige; 
    z-index:1
}

div.headercontent{
    padding:2px 2px 2px 2px; 
    background-color:black;
    display:flex; 
    justify-content:flex-start; 
    align-items:center;
}

div.headerspacer{visibility:hidden; width:100%}

div.title{
    font-size:1.4em;  
    margin-left:5px; 
    flex-grow:1; 
    white-space:nowrap;
}

div.navbar{
    display:flex; 
    padding: 2px 2px 2px 2px;
    flex-wrap:wrap; 
    font-size:1em; 
    flex-grow:2; 
    justify-content:space-around;
}

div.navbaritem{
    position:relative; 
    max-width:15em; 
    margin:0px 7px 0px 7px;
    text-align:center; 
    flex-grow:1; 
    padding:4px 3px 4px 3px; 
    border-radius:0px;
    box-shadow: inset 0 0 0 0 transparent;
    transition:box-shadow 300ms ease;
    overflow:hidden;
    overflow-wrap:break-word;
}


div.navbaritem[openupshutter]::after{content:" \25BE";}
div.navbaritem:hover{
    box-shadow: inset 0 0 5px 3px darkolivegreen;
    background-color:orchid;
}
div.navbaritem[openupshutter]:hover::after{content:" \25BF";}

div.selectednavbaritem{
    background-color:orchid;
}
div.navbaritem.selectednavbaritem::after{content:" \25B4";}
div.navbaritem.selectednavbaritem:hover::after{content:" \25B5";}

div.openuplimiter{
    background-color:lightcyan;
    position:relative;
    overflow:auto;
    max-height:30em;
}

div.openuptopshadow{
    position:absolute; 
    top:-6px; 
    right:0; left:0; 
    height:6px; 
    box-shadow:0 3px 6px black;
}
div.openupbottomshadow{
    position:absolute; 
    bottom:-6px; 
    right:0; left:0; 
    height:6px; 
    box-shadow:0 -3px 6px black;
}

div.shadowbox{
    position:relative;
    overflow:hidden;
}

div.openupshutter{
    color:black;
    position:relative;
    overflow:hidden;
    max-height:0; 
    transition:max-height; 
    transition-duration:0.5s;
    transition-timing-function:ease-in-out;
}

div.openupcontent{
    background-color:transparent;
    padding:6px 0 2px 0;
}

div.openupgroup{
    background-color:transparent;
    font-size:0.93em;
} 

div.openupgrouppadding{
    background-color:transparent;
    position:relative;
    overflow:hidden;
    height:0px;
    transition:height;
    transition-duration:0.5s;
    transition-timing-function:ease-in;
}

div.openuppaddingshadow{
    position:absolute; 
    bottom:-6px; 
    right:0; left:0; 
    height:6px; 
    box-shadow:0 -0px 6px black;
}

div.openuppaddingtransition{
    height:6px;
}

div.openuptransition{
    max-height:20em;
}

div.main{display:flex; flex-wrap:wrap;}
div.leftsidebar{
    flex:1; 
    /*min-width:200px; */
    background-color:WhiteSmoke; 
    padding: 6px 6px 6px 6px
}
div.rightsidebar{
    flex:0.8; 
    /*min-width:250px; */
    padding:6px 6px 6px 6px;
}

div.center{
    flex:3; 
    /*min-width:450px; */
    padding: 6px 6px 6px 6px;
}

.ajax-container{
    padding:5px 5px 5px 5px;
    background-color:moccasin;
    box-shadow:inset 0 0 14px 2px;
    overflow-wrap:break-word;
    transition:height;
    transition-duration:1s;
}

@media screen and (max-width: 600px) {
    div.main{display:block;}

    div.headercontent{display:block;}
    div.title{display:none;}
}

