*{box-sizing:border-box;}

body{font-family:Arial; font-size:16px; margin:0 0 0 0;}

header{position:fixed; top:0; left:0; right:0; 
    background:linear-gradient(140deg, black, dimgrey, black, slategrey, black); 
    color:beige; z-index:1}

div.headercontent{padding:3px 3px 3px 3px; 
    display:flex; justify-content:flex-start; align-items:center;}

div.headerspacer{visibility:hidden; width:100%}

div.title{font-size:1.4em;  margin-left:5px; flex-grow:1; white-space:nowrap;}

div.navbar{display:flex; flex-wrap:wrap; font-size:1em; flex-grow:2; justify-content:space-around;}

div.navbaritem{position:relative; max-width:12em; text-align:center; flex-grow:1; padding:4px 4px 4px 4px; border-radius:4px;}
div.navbaritem:hover{background-color:DarkGoldenRod;}
div.navbaritem:hover::after{content:" \25BF";}
div.navbaritem:not(:hover)::after{content:" \25BE";}

div.navbaritemdropdown{position:absolute; background-color:black; bottom:0; left:0; right:0; height:100px;}

div.main{display:flex; flex-wrap:wrap;}
div.leftsidebar{flex:1; min-width:200px; background-color:WhiteSmoke; padding: 6px 6px 6px 6px}
div.rightsidebar{flex:0.8; min-width:250px; padding:6px 6px 6px 6px;}

div.center{flex:3; min-width:450px; padding: 6px 6px 6px 6px;}



@media screen and (max-width: 600px) {
    div.main{display:block;}

    div.headercontent{display:block;}
    div.title{display:none;}
}

