div.MysqlConsole {
    border-style:solid;
    overflow:auto;
    height:100%;
    width:100%;
    margin:5px;
    font-family:monospace;
}

div.MysqlConsole input {
    width:100%;
    font-family:monospace;
    align-self:stretch;
    font-size:inherit;
    border:none;
    padding:0 0 0 0;
    margin:0 0 0 0;
    background-color:transparent;
}

div.MysqlConsole pre{
    margin:0 0 0 0;
    padding:0 0 0 0;
    overflow: auto;
    overflow-wrap: break-word;
}

div.MysqlConsole input:focus {
    outline:none;
}

div.MysqlConsole div.mysql-console-line {
    display:flex;
    overflow:hidden;
    align-items:center;
    height:auto;
    width:100%;
    padding:2px 0 2px 0;
}

div.MysqlConsole div.mysql-console-line.result{
    word-break:break-word;
}

div.MysqlConsole div.mysql-console-line.request {
    counter-increment: index;
}

div.MysqlConsole div.mysql-console-line:nth-child(2n){
    background-color:mintcream;
}

div.MysqlConsole div.mysql-console-line:nth-child(2n+1){
    background-color:linen;
}

div.MysqlConsole div.pending{
    word-break:break-word;
}

div.MysqlConsole div.prompt {
}

div.MysqlConsole div.prompt:before {
    content:'['counter(index)'\00A0';
}

div.MysqlConsole div.prompt:after {
    content:"]$\00A0";
}

div.MysqlConsole input.mysql-console-history {
    
}

div.MysqlConsole input:read-only {
    color:grey;
}

div.MysqlConsole div.mysql-console-line.error {
    color:red;
}
