html{}

body{position:relative; clear:none; z-index:-3; margin:0 0 0 0; font-family:Arial; font-size:16px}

h1{margin:0 0 0 0; font-size:3em;}
h2{margin:0 0 0 0; font-size:1.7em;}
h3{margin:0 0 0 0; font-size:1.5em;}

div.backgroundlayer{position:fixed; top:0; bottom:0; left:0; right:0; z-index:-2; background:url(/assets/27original.gif);}

header{position:fixed; top:0; left:0; right:0; background-color:darkorange; color:#FFE9E0;}
div.headerspacer{height:55px}

footer{position:fixed; bottom:0; right:0; padding:0 4px 0 4px; text-align:right; border-style:solid; border-color:black; border-width: 1px 0 0 1px; background-color:white; opacity:0.7}
footer:hover{opacity:1}

div.container{position:relative; z-index:-1; overflow:auto}

div.center{position:static; margin:0 0 0 20%; padding: 10px 10px 10px 10px; background-color:#E1FFE1} 
div.leftsidebar{position:relative; float:left; border-radius:25px; box-sizing:border-box; padding:15px 15px 15px 15px; margin: 20px 0 0 0; width:20%; background-color:lightgrey}
div.rightsidebar{position:relative; float:right; width:20%; background-color:silver}

ol{margin:0 0 0 40px; padding: 10px 0 10px 0;}

div.menubar{background-color:darkgrey; color:lightgrey; text-align:center}
div.menubaritem{position:relative; display:inline-block; width:20%; min-width:10em; padding:0.5em 0 0.5em 0; text-align:center}
div.menubaritem:hover{color:white; background-color:black;}
div.menubardropdown{position:absolute; z-index:1; overflow:hidden; top:3em; width: 100%; color:lightgrey; background-color:darkred; max-height:0; transition:max-height 0.8s ease 0.1s;}
div.menubaritem:hover div.menubardropdown{max-height:500px; z-index:2}
div.menubardropdown:hover{display:block;}
div.menubardropdownitem{padding:0.5em 0 0.5em 0}
div.menubardropdownitem:hover{color:white; background-color:black;}

.blockcenter{width:auto}

.bottomborderdivider{border-style:dashed; border-width:0 0 2px 0; border-color:black;}

@media screen and (max-width: 600px) {
	div.leftsidebar{float:none; width:100%}
	div.rightsidebar{float:none; width:100%}
	div.center{margin:0 0 0 0}
}

