<div class="headercontent">
    <div class="title"><i>flex</i> Demo</div>
    <div class="navbar">    
        <div class="navbaritem" dropdown="dropdown1"> Link 1 </div>
        <div class="navbaritem" dropdown="dropdown2"> Link 2 </div>
        <div class="navbaritem" dropdown="dropdown3"> Link 3 </div>
        <div class="navbaritem" dropdown="dropdown4"> a longer title </div>
        <div class="navbaritem" dropdown="dropdown5"> Link 5 </div>
        <div class="navbaritem" dropdown="dropdown4"> Link 6 </div>
        
    </div>
</div>

<div class="navbardropdowncontainer">
    <div class="dropdowntopshadow"></div>

    <div class="navbaritemdropdown" name="dropdown1">
        something <br>
        in the drop <br>
        down
        <div style="height:300px; width:200px; background-color:orange;">an inserted block</div>
    </div>

    <div class="navbaritemdropdown" name="dropdown2">
        <div class="navbar">
            <div class="navbaritem" dropdown="dropdown2/dropdown1"> d2d1 </div>
            <div class="navbaritem" dropdown="dropdown2/dropdown2"> d2d2 </div>
            <div class="navbaritem" dropdown="dropdown2/dropdown3"> d2d3 </div>
        </div>

        <div class="navbardropdowncontainer">
            <div class="dropdowntopshadow"></div>
            <div class="navbaritemdropdown" name="dropdown2/dropdown1"> level 2.1 <br> content. </div>
            <div class="navbaritemdropdown" name="dropdown2/dropdown2"> level 2.2 <br> content. </div>
            <div class="navbaritemdropdown" name="dropdown2/dropdown3"> level 2.3 <br> content. </div>
        </div>
    </div>

    <div class="navbaritemdropdown" name="dropdown1">
        this <br>
        is <br>
        another thing
    </div>

    <div class="navbaritemdropdown" name="dropdown4">
        something <br>
        pointed to twice
    </div>

    <div class="navbaritemdropdown" name="dropdown5">
        the last thing
    </div>

    <div class="dropdownbottomshadow"></div>
</div>
